# Xcode
DerivedData/
*.xcuserstate
*.xcuserdata
*.xcworkspace/xcuserdata

# Swift Package Manager
.build/
Packages/

# CocoaPods
Pods/

# Carthage
Carthage/Build/

# Fastlane
fastlane/report.xml
fastlane/test_output/

# Others
*.DS_Store